@import "../core/variables.scss";

.container-box {
  border: 3px dashed $pastel-pink;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;

  margin: 20px;
  cursor: pointer;

  &__tittle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: $body;
    color: $color-tittle;
    font-size: 30px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.box {
  border: 3px solid $color-tittle;
}
